
.list-cell:filled:hover {
    -fx-text-fill: #cc0404;
}

.list-cell:filled:selected:focused{
  	-fx-background-color: #cc0404;
    -fx-text-fill: white;
}

.list-view {
	-fx-focus-color: #cc0404;
	-fx-text-fill: black;
}

.list-cell {
	-fx-text-fill: black;
}
